@import url("https://fonts.googleapis.com/css2?family=Dancing Script&family=Source+Code+Pro");
body {
  margin: 0;
  background: #020202;
}
canvas {
  display: block;
}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Dancing Script";
  font-size: 5em;
  font-weight: 200;
  -webkit-user-select: none;
  user-select: none;
}
